# Template only: future EB Worker environment.
option_settings:
  aws:ec2:instances:
    InstanceTypes: c7i.large
    EnableSpot: 'false'
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: 'true'
    SSHSourceRestriction: tcp,22,22,127.0.0.1/32
  aws:elasticbeanstalk:application:environment:
    INTEROVES_RUNTIME_ROLE: worker
    WORD_SALAD_SQS_QUEUE_URL: __SET_FROM_WORKER_QUEUE__
    WORD_SALAD_JOB_LEASE_SECONDS: '90'
    WORD_SALAD_ITEM_LEASE_SECONDS: '90'
  aws:elasticbeanstalk:application:environmentsecrets:
    WORD_SALAD_WORKER_HMAC_SECRET: __WORKER_HMAC_SECRET_ARN__
  aws:elasticbeanstalk:sqsd:
    WorkerQueueURL: __SET_FROM_WORKER_QUEUE__
    HttpPath: /internal/worker/word-salad-recheck/
    MimeType: application/json
    HttpConnections: '1'
    ConnectTimeout: '5'
    InactivityTimeout: '60'
    VisibilityTimeout: '180'
    ErrorVisibilityTimeout: '120'
    MaxRetries: '8'
    RetentionPeriod: '1209600'
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '1'
