<div class="attempts">
  <ul class="list-rectangle">
    {% for attempt in attempts_info.attempts %}
      <li class="li-attempt li-{{ attempt|get_show_status|get_lower_status }}">
        {{ attempt.time|date:'H:i' }}:
        {% if attempt|get_show_status == 'Ok' %}
          <b>{{ attempt.get_pretty_text }}</b>
        {% else %}
          {{ attempt.get_pretty_text }}
        {% endif %}
        (баллы: {{ attempt.points|minimize_digits }} {% if attempt|get_diff_points > 0 %}(+{{ attempt|get_diff_points|minimize_digits }}){% endif %},
        статус: {{ attempt|get_show_status|get_ru_status }})
        {% if attempt.comment %}<div class="custom_tooltip"><i class="fa fa-exclamation-circle"></i><span class="custom_tooltiptext">{{ attempt.comment }}</span></div>{% endif %}
      </li>
    {% endfor %}
  </ul>
</div>