body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}
h3 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
h5 {
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #608dfd;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #608dfd;
}

ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
#menu {
	padding: 15px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15)
}
#menu a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #333;
}
#menu.navbar-default .navbar-nav > li > a, #menu.navbar-default .navbar-nav > li > button {
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:after, #menu.navbar-default .navbar-nav > li > button:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	content: "";
	transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after, #menu.navbar-default .navbar-nav > li > button:hover:after {
	width: 100%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}
.toggle-ok-tasks {
	border: 0;
	outline: 0;
	background-color: transparent;
}
.display-none {
	display: none !important;
}
.visibility-hidden {
	visibility: hidden !important;
}
.section-title {
	margin-top: 25px;
	margin-bottom: 30px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	transition: all 0.5s linear;
	border: 0;
}
.btn-custom-lg {
	padding: 14px 34px;
	border-radius: 25px;
}
.btn-custom-sm {
	padding: 0px 10px;
	border-radius: 10px;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #6372ff;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: linear-gradient(to right, #000066 0%, #000099 100%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro-main {
	background: url(../img/intro-bg-2.jpg) center center no-repeat;
}

.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}
.intro p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.intro details {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
}

header .intro-text {
	padding-top: 150px;
	padding-bottom: 50px;
	text-align: center;
}
header .btn-custom {
	margin: 0px 10px 0px 10px;
}
/* Games Section */
#games {
	padding: 50px 0;
	background: #f6f6f6;
}
#games i.fa {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
/* Register Section */
#myteam {
	padding: 50px 0 10px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	color: rgba(255,255,255,.75);
}
#myteam .section-title {
	margin-bottom: 40px;
}
#myteam .section-title p {
	font-size: 16px;
}
#myteam h2 {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#myteam .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 30px;
}
#myteam h3 {
	color: #fff;
	margin-top: 80px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	font-weight: 400;
}
#myteam form {
	padding-top: 20px;
}
#myteam .text-danger {
	color: #cc0033;
	text-align: left;
}
#myteam .btn-custom {
	background: transparent;
	border: 2px solid #fff;
}
#myteam .btn-custom-lg {
	margin: 30px 0;
}
#myteam .btn-custom-sm {
	margin: 0px 0;
}
#myteam .btn-custom:hover {
	color: #1f386e;
	background: #fff;
}
#myteam a {
	color: #fff;
}
#myteam a:hover, a:focus {
	color: #fff;
}

label {
	font-size: 15px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#myteam .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#myteam .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#myteam .contact-item {
	margin: 20px 0;
}
#myteam .contact-item span {
	color: rgba(255,255,255,1);
	margin-bottom: 10px;
	display: block;
}
#myteam .contact-item i.fa {
	margin-right: 10px;
}
#myteam .social {
	border-top: 1px solid rgba(255,255,255,0.15);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#myteam .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#myteam .social i.fa {
	font-size: 22px;
	width: 48px;
	height: 48px;
	padding: 12px 0;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	transition: all 0.3s;
}
#myteam .social i.fa:hover {
	color: #608dfd;
	background: #fff;
}
input[type="text"] {
	color: #333;
	margin-right: 20px;
	width: 200px;
}
select {
	color: #333;
	margin-right: 20px;
	width: 200px;
}
.field-wrapper{
	width: auto;
	display: inline-block;
}

/* Footer Section*/
#footer {
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #608dfd;
}
#footer a:hover {
	border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}

.game_icon {
    width: 150px;
	height: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-prev:before {
	content: "<";
	color: #333;
	font-size: 30px;
}
  
.slick-next:before {
	content: ">";
	color: #333;
	font-size: 30px;
}

.avatar-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	margin: 10px 10px 10px 10px
}

.list-rectangle {
	list-style: none;
	margin: 0;
	padding: 0;
  }
.list-rectangle>li {
	position: relative;
	display: block;
	margin-bottom: .25rem;
	padding: .325rem .825rem .325rem 1.325rem;
	color: #fff;
}
.list-rectangle>li:last-child {
	margin-bottom: 0;
}
.list-rectangle>li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0.5rem;
}
.team-on-list>li::before {
	background: #fff;
}
.team-requested-list>li::before {
	background: #ffa600;
}
.rules-list>li::before {
	background: #fff;
}
.li-wrong::before {
	background: #ffa0a0;
}
.li-pending::before {
	background: #fff070;
}
.li-partial::before {
	background: #8080ff;
}
.li-ok::before {
	background: #a0ffa0;
}

/* Game */

.even-task-group {
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	color: rgba(255,255,255,.75);
}
.even-task-group h2 {
	color: #fff;
}
.even-task-group h4 {
	color: #fff;
}
.even-task-group .section-title h2::after {
	background: rgba(255,255,255,.3);
}
.even-task-group li {
	color: #fff;
}
.odd-task-group {
	background: #f6f6f6;
}
.odd-task-group li {
	color: #333;
}
.tasks-list {
	text-align: left;
}
.li-task {
	clear: both;
}
.task {	
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	clear: both;
}
.attempts {
	margin-left: 5px;
	clear: both;
}
.even-task-group .btn-custom {
	background: transparent;
	border: 2px solid #fff;
}
.even-task-group .btn-custom:hover {
	color: #1f386e;
	background: #fff;
}
.task-group .btn-custom {
	margin: 10px 10px 10px 10px;
}
.task-rules {
	text-align: left;
}
.attempt-form {
    margin-top: 5px;
}
.attempt-form, .attempts{
	font-size: 14px;
}
.attempt-form .btn-custom {
	font-size: 14px;
}
.task h4 {
	display: inline;
}
.max-points {
	float: right;
	font-size: 12px;
}

/* Table of results */
#results-section {
	background: #f6f6f6;
}
.results-table {
	border: 1px solid #ddd;
	padding: 0;
}
.results-row-table {
	margin: 0;
}
.results-table .table-wrapper {
	border: 0;
	margin: 0;
	max-height: 600px;
}
.results-table .my-team-row-header {
	background: #b0c0ff;
}
.results-table .my-team-row-cell.cell-wrong {
	background: #ffb8b8;
}
.results-table .my-team-row-cell.cell-pending {
	background: #ffff98;
}
.results-table .my-team-row-cell.cell-partial {
	background: #b8b8ff;
}
.results-table .my-team-row-cell.cell-ok {
	background: #c0ffc0;
}
.results-table .my-team-row-cell.cell-no {
	background: #f8ffff;
}
.table-results {
	margin: 0;
	border: 0;
}
.corner-header {
	background: #e8f0ff;
}
.cell-header {
	background: #e8f0ff;
}
th.row-header {
	background: #d8e8ff;
}
.cell-wrong {
	background: #ffd0d0;
}
.cell-pending {
	background: #fff0b0;
}
.cell-partial {
	background: #e0e0ff;
}
.cell-ok {
	background: #d8ffd8;
}
.cell-no {
	background: #f0f8ff;
}
.results-description {
	margin-bottom: 10px;
}

/* Answer */
.task .attempt-form #answerWindow {
	width: max-content; height: max-content;
	max-width: 90%;
	max-height: 60%;
	min-width: 50%;
	min-height: 20%;
	margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
	text-align: center;
	color: #777;	
}
.task .attempt-form #answerWindow ul li {
	color: #777;
}

#answerWindow #answerWindow__close {
    width: 21px; height: 21px;
    position: absolute;
    top: 1px;   right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}

#answerOverlay {
    z-index: 37;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
}
.answer-comment-list>li::before {
	background: #a0ffa0;
}

/* Views */
.list-rectangle .table-3-n-cell {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #000;
}

/* Wall */
.wall {
	width: 760px;
}
.wall-explanations {
	display: inline-block;
    float: left;
    width: 150px;
}
.wall-tiles {
	width: 605px;
	display: inline-block;
	float: left;
}
.wall-tile {
	width: 148px;
	height: 98px; 
	text-align: center;
	line-height: 30px;
	font-weight: 600;
	font-size: 16px;
	border: 2px solid #74708f;
	border-radius: 4px;
	padding: 2px;
	display: inline-block;
	float: left;
}
.wall-tile-guessed {
	color: #000;
}
.wall-tile-not-guessed {
	background: #e9e8f2;
	color: #000;
	cursor: pointer;
}
.wall-tile-not-guessed:hover {
	background:#ffffff;
}
.wall-tile-stop-guessing {
	cursor: default;
}
.wall-tile-guessed-0 {
	background: #ff6c6c !important;
}
.wall-tile-guessed-1 {
	background: #89ff6c !important;
}
.wall-tile-guessed-2 {
	background: #6cbdff !important;
}
.wall-tile-guessed-3 {
	background: #c46cff !important;
}
.wall-tile-guessed-4 {
	background: #ffa76c !important;
}
.wall-tile-selected {
	background: #ffd86c;
}
.wall-tile-selected:hover {
	background-color:#ffff98 !important;
}
.wall-tile-explanation {
	display: inline-block;
	vertical-align: top;
	float: left;
	border: 0;
}
.wall-tiles .wall-tile p {
	margin-top:25px;
}
.wall-field-wrapper input {
	height: 30px;
	width: 120px;
	margin: 0;
}

/* Like-Dislike */
.like-or-dislike {
	outline: none;
	border: 0;
	color: #333;
	float: right;
	margin: 2px;
}
.like {
	background: #c0ffc0;
}
.like.active {
	background: #00ff00;
}
.dislike {
	background: #ffb8b8;
}
.dislike.active {
	background: #ff0000;
}
button.active {
	outline: 2px solid #000;
}

/* Tooltip */
.custom_tooltip {
	position: relative;
	display: inline-block;
}
  
.custom_tooltip .custom_tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	margin-left: 5px;
}
  
.custom_tooltip:hover .custom_tooltiptext {
	visibility: visible;
}

/* text_with_forms */
.attempt-simple-form {
	margin: 0;
    display: inline-block;
}

.attempt-simple-form input {
	margin: 0;
}

/* hints */
.hint-head {
	display: inline-block;
	font-size: 10px;
	margin: 0 0 0 0;
}

.hint-body {
	display: inline-block;
    font-size: 12px;
	margin: 0 0 0 0;
}

.btn.show-hint {
    font-size: 10px;
	margin: 2px 0 2px 0;
	line-height: 12px;
}

li .li-hint {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 12px;
}

.hint-numbers {
}