option_settings:
  aws:elasticbeanstalk:application:environment:
    REDIS_HOST: interoves-dn6lku.serverless.euc1.cache.amazonaws.com
    REDIS_PORT: 6379
    ENABLE_CG_GAME: true
    ENABLE_CG_GAME_TEAM: true
    ENABLE_CG_PROJECT: true
    ENABLE_CG_GAME_RESULTS: true
    ENABLE_CG_TOTAL_RESULTS: true
