Resources:
  InterovesStaticBucketWritePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: interoves-static-bucket-write
      Roles:
        # Default Elastic Beanstalk EC2 role name (unless overridden).
        - aws-elasticbeanstalk-ec2-role
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: ListStaticBucket
            Effect: Allow
            Action:
              - s3:ListBucket
              - s3:GetBucketLocation
            Resource:
              - arn:aws:s3:::interoves-django-static
          - Sid: ReadWriteStaticObjects
            Effect: Allow
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:PutObjectAcl
              - s3:DeleteObject
            Resource:
              - arn:aws:s3:::interoves-django-static/*

