files:
  # Include /var/log/app/*.log in both `eb logs` bundle and `eb logs --all` tail.
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/00_app.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/app/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/00_app.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/app/*.log
