# Nginx timing log for send_attempt / alphabetty latency analysis (grep access_timing.log for rt=).
files:
  "/etc/nginx/conf.d/00_interoves_timing_format.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      log_format interoves_timing '$remote_addr - $remote_user [$time_local] '
          '"$request" $status $body_bytes_sent '
          'rt=$request_time urt=$upstream_response_time '
          '"$http_referer" "$http_user_agent"';

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/nginx_timing.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access_timing.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/nginx_timing.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access_timing.log
