# Bundle/tail timing access log (format in .platform/nginx/conf.d/interoves_timing_logformat.conf).
files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/nginx_timing.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access_timing.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/nginx_timing.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access_timing.log
