packages:
  yum:
    atk: []
    at-spi2-atk: []
    cups-libs: []
    libdrm: []
    libXcomposite: []
    libXdamage: []
    libXrandr: []
    mesa-libgbm: []
    pango: []
    alsa-lib: []
    nss: []
    nspr: []
    libxkbcommon: []
    gtk3: []
    google-noto-emoji-color-fonts: []
    google-noto-emoji-fonts: []

container_commands:
  04_playwright_chromium:
    command: "source /var/app/venv/*/bin/activate && PLAYWRIGHT_BROWSERS_PATH=/home/webapp/.cache/ms-playwright python -m playwright install chromium && chown -R webapp:webapp /home/webapp/.cache/ms-playwright || true"
    leader_only: true
