<div class="games-slick"}>
  {% for game in games %}
    <div>
      {% with team=user.profile.team_on %}
      <p>{{ game.start_time|date:'d E Y' }}<br>{{ game.start_time|date:'H:i' }} - {{ game.end_time|date:'H:i' }}</p>
      <img src="{{ game.image.url }}" class="game_icon">
      <h3>{{ game.name }}</h3>
      {% if game.theme %} <p>Тема: {{ game.theme }}</p> {% endif %}
      <p>Автор: {{ game.author }}</p>
      {% if game|access_play:team %}
        <p><a href="/games/{{ game.id }}"><b>Играть</b></a></p>
      {% elif game|access_is_registered:team %}
        <p><b>Вы зарегистрированы</b></p>
      {% elif game|access_register:team %}
        {% if team.tickets > 0 %}
          <p><a href="/register/{{ game.id }}" next="{{ request.path }}"><b>Зарегистрироваться<br>(потратить билет)</b></a></p>
        {% else %}
          <p><a href="#request-tickets-popup" class="request-tickets-link"><b>Приобрести билет</b></a></p>
        {% endif %}
      {% endif %}
      {% if game|access_see_tournament_results:team  %}
        <p><a href="/tournament_results/{{ game.id }}"><b>Турнирные результаты</b></a></p>
      {% endif %}
      {% if game|access_see_results:team %}
        {% if not game.is_tournament or not game|is_going_now %}
          <p><a href="/results/{{ game.id }}"><b>Общие результаты</b></a></p>
        {% endif %}
      {% endif %}
      {% if game.game_url %}
        {% if game|access_read_googledoc:team %}
          <p><a href="{{ game.game_url}}">Условия</a></p>
        {% endif %}
      {% endif %}
      {% if game.answers_url %}
        {% if game|access_see_answer:team %}
          <p><a href="{{ game.answers_url}}">Ответы</a></p>
        {% endif %}
      {% endif %}
      {% if game.standings_url %} <p><a href="{{ game.standings_url}}">Результаты</a></p> {% endif %}
      {% endwith %}      
    </div>
  {% endfor %}
</div>
