<div class="games-slick"}>
  {% for game in games %}
    <div>
      <p>{{ game.start_time|date:'d E Y' }}<br>{{ game.start_time|date:'H:i' }} - {{ game.end_time|date:'H:i' }}</p>
      <img src="/media/{{ game.image }}" class="game_icon">
      <h3>{{ game.name }}</h3>
      {% if game.theme %} <p>Тема: {{ game.theme }}</p> {% endif %}
      <p>Автор: {{ game.author }}</p>
      {% if game|game_is_available:user.profile.team_on %}
        <p><a href="/games/{{ game.id }}"><b>Играть</b></a></p>
      {% endif %}
      {% if game|tournament_results_are_available:user.profile.team_on  %}
        <p><a href="/tournament_results/{{ game.id }}"><b>Турнирные результаты</b></a></p>
      {% endif %}
      {% if game|results_are_available:user.profile.team_on  %}
        <p><a href="/results/{{ game.id }}"><b>Общие результаты</b></a></p>
      {% endif %}
      {% if game.game_url %} <p><a href="{{ game.game_url}}">Условия</a></p> {% endif %}
      {% if game.answers_url %} <p><a href="{{ game.answers_url}}">Ответы</a></p> {% endif %}
      {% if game.standings_url %} <p><a href="{{ game.standings_url}}">Результаты</a></p> {% endif %}
    </div>
  {% endfor %}
</div>
