<div id="game-start-popup" class="white-popup mfp-hide">
    <div class="game-popup">
        <div class="popup-img"><img src="" class="game_icon"></div>
        <div class="popup-title h3"></div>
        <div class="popup-subtitle">Игра начинается!</div>
        <form action="" class="popup-play-form">
            <input type="submit" value="Играть" class="btn btn-custom btn-custom-lg btn-lg page-scroll popup-button popup-play">
        </form>
    </div>
</div>
<div id="game-end-popup" class="white-popup mfp-hide">
    <div class="game-popup">
        <div class="popup-img"><img src="" class="game_icon"></div>
        <div class="popup-title h3"></div>
        <div class="popup-subtitle">Конец!<br>Спасибо за участие!</div>
        <form action="" class="popup-results-form">
            <input type="submit" value="Результаты" class="btn btn-custom btn-custom-lg btn-lg page-scroll popup-button popup-results">
        </form>
        <form action="https://vk.com/interoveslocumpraesta?w=app6471849_-80749489" class="popup-donat-form">
            <input type="submit" value="Отправить донат" class="btn btn-custom btn-custom-lg btn-lg page-scroll popup-button popup-donat">
        </form>
    </div>
</div>