<li class="li-task li-{{ attempts_info.best_attempt.status|get_lower_status }} {{ task_group.get_li_class }}" id="task-{{ task.id }}">
  <div class="task">
    <h4>{{ task.number }}.</h4>
    <p class="max-points">
      (Максимум баллов: {{ task.get_points|minimize_digits }})
    </p>
    {% if task.image %}<img class="task-image" src="{{ task.image.url }}" width="{{ task.get_image_width }}"><br>{% endif %}
    {{ task.text }}<br>
    {% if attempts_info.best_attempt.status != 'Ok' %}
      {% if not attempts_info or mode == 'general' or attempts_info.get_n_attempts < task.get_max_attempts %}
        <form class = "attempt-form" action = "/send_attempt/{{ task.id }}/" method = "post">
          {% csrf_token %}
          <input type="hidden" class="attempt-task-id" name="variable" value="{{ task.id }}">
          Попытка {{ attempts_info.get_n_attempts|get_new_attempt_number }}{% if mode == 'tournament' %}/{{ task.get_max_attempts }}{% endif %}:
          <div class="fieldWrapper">
            {{ task.task_group.get_attempt_form.text }}
          </div>
          <input type="submit" value="Отправить на проверку" class="btn btn-custom-lg btn-lg btn-custom page-scroll">
          {% if mode == 'general' %}<input type="button" value="Посмотреть ответ" class="btn btn-custom-lg btn-lg btn-custom page-scroll show-answer">{% endif %}
        </form>
      {% else %}
        <b>Попытки закончились</b>
      {% endif %}
    {% endif %}

    {% if attempts_info %}
      <div class="attempts">
        <ul class="list-rectangle">
          {% for attempt in attempts_info.attempts|order_by:"time" %}
            <li class="li-attempt li-{{ attempt.status|get_lower_status }}">
              {{ attempt.time|date:'H:i' }}:
              {% if attempt.status == 'Ok' %}
                <b>{{ attempt.text }}</b>
              {% else %}
                {{ attempt.text }}
              {% endif %}
              (баллы: {{ attempt.points|minimize_digits }}, статус: {{ attempt.status|get_ru_status }})
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</li>