<li class="li-task li-{{ task|one_more:team|one_more:mode|get_task_status:attempts_info|get_lower_status }} {{ task_group.get_li_class }}" id="task-{{ task.id }}">
  <div class="task">
    <h4>{{ task.number }}.</h4>
    <input type="hidden" class="task-id" name="task-id" value="{{ task.id }}">
    {% csrf_token %}
    {% if task.task_type == 'default' %}
      {% include "task-content/task-default.html" %}
    {% elif task.task_type == 'wall' %}
      {% include "task-content/task-wall.html" %}
    {% elif task.task_type == 'text_with_forms' %}
      {% include "task-content/task-text-with-forms.html" %}
    {% endif %}
  </div>
</li>