{# Тело правил Алфавитки — модалки хаба/игры и tutorial HTML. #}
<div class="pal-rules">
  <div class="pal-rule">
    <div class="pal-rule-number">1</div>
    <div class="pal-rule-text">
      Загадано нарицательное существительное в именительном падеже.
    </div>
  </div>
  <div class="pal-rule">
    <div class="pal-rule-number">2</div>
    <div class="pal-rule-text">
      <strong>Попытайтесь его угадать</strong>, введя существующее слово.
      Валидным словом считаем любое слово из словаря, пусть даже не удовлетворяющее пункту&nbsp;1.
      Если слова в нашем словаре нет, можете предложить его туда добавить.
    </div>
  </div>
  <div class="pal-rule">
    <div class="pal-rule-number">3</div>
    <div class="pal-rule-text">
      <strong>Неверный ответ сужает диапазон:</strong>
      загаданное слово в алфавите либо до вашей попытки, либо после.
    </div>
  </div>
  <div class="pal-rule">
    <div class="pal-rule-number">4</div>
    <div class="pal-rule-text">
      Считаем в этом задании, что&nbsp;<strong>Ё&nbsp;=&nbsp;Е</strong>.
    </div>
  </div>
</div>
