option_settings:
  aws:elasticbeanstalk:application:environment:
    ASGI_THREADS: '4'
    INTEROVES_RUNTIME_ROLE: web
    INTEROVES_VALIDATION_MODE: '1'
    IS_PROD: 'false'
    USE_S3: 'false'
    CLUB_PAYMENTS_ENABLED: 'false'
    TRIBUTE_ENABLED: 'false'
    DEBUG_OFF: 'true'
    RDS_HOSTNAME: __VALIDATION_RDS_HOST__
    RDS_PORT: '3306'
    RDS_DB_NAME: interoves_validation
    RDS_USERNAME: validation_admin
    RDS_SECRET_ARN: __VALIDATION_RDS_SECRET_ARN__
    REDIS_HOST: __VALIDATION_REDIS_HOST__
    REDIS_PORT: '6379'
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/live/
    HealthCheckInterval: '15'
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    MatcherHTTPCode: '200'
  aws:elasticbeanstalk:command:
    DeploymentPolicy: RollingWithAdditionalBatch
    BatchSize: '1'
    BatchSizeType: Fixed
    IgnoreHealthCheck: 'false'

  aws:elb:healthcheck:
    Target: HTTP:80/health/live/
    Interval: '15'
    Timeout: '5'
    HealthyThreshold: '3'
    UnhealthyThreshold: '5'
