# Validation-only EB Worker settings. Values that identify validation AWS
# resources are supplied by the validation environment creation command.
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: interoves_django.asgi:application
  aws:elasticbeanstalk:application:environment:
    ASGI_THREADS: '1'
    DEBUG_ON: 'FALSE'
    IS_PROD: 'FALSE'
    USE_S3: 'FALSE'
    INTEROVES_RUNTIME_ROLE: worker
    WORD_SALAD_OUTBOX_DISPATCH_LIMIT: '25'
    WORD_SALAD_OUTBOX_DISPATCH_INTERVAL: '15'
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: 'true'
    DeleteOnTerminate: 'false'
    RetentionInDays: '7'
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: 'false'
