<div id="audio-player-popup" class="white-popup mfp-hide">
    <audio src="" id="hidden-player" autoplay></audio>
    <div id="player">
        <div class="player-song">
            <div class="title"></div>
            <progress value="0" max="1"></progress>
            <div class="timestamps">
                <div class="time-now">0:00:00</div>
                <div class="time-finish">0:00:00</div>
            </div>
            <div class="actions">
                <div class="play">
                    <a class="play-button paused" href="javascript:void(0)">
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="triangle-1"></div>
                        <div class="triangle-2"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>