{% load staticfiles %}
{% load filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ game.name }}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-icon-57x57.png" %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicon/apple-icon-60x60.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicon/apple-icon-76x76.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-icon-114x114.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicon/apple-icon-120x120.png" %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicon/apple-icon-144x144.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-icon-152x152.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-icon-180x180.png" %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static "img/favicon/android-icon-192x192.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon/favicon-96x96.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/nivo-lightbox/nivo-lightbox.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/nivo-lightbox/default.css" %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="/">inter oves locum praesta</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#page-top" class="page-scroll">Наверх</a></li>
        {% for task_group in task_groups %}
          <li><a href="#task-group-{{ task_group.number }}" class="page-scroll">{{ task_group.number }}</a></li>
        {% endfor %}
        {% if mode == 'tournament' %}<li><a href="/tournament_results/{{ game.id }}/">Результаты</a></li>{% endif %}
        {% if mode == 'general' %}<li><a href="/results/{{ game.id }}/">Результаты</a></li>{% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 intro-text">
          <h1>{{ game.name }}</h1>
          {% if game.theme %}<h3>Тема: {{ game.theme }}</h3>{% endif %}
          {% if game.author %}<h3>Автор: {{ game.author }}</h3>{% endif %}
          {% if mode == 'tournament' %}<h3>Время: {{ game.start_time|date:'H:i' }} - {{ game.end_time|date:'H:i' }} {{ game.start_time|date:'d E Y' }}</h3>{% endif %}
            {% autoescape off %}
            {{ game.rules.html }}
            {% if mode == 'tournament' %}{{ game.tournament_rules.html }}{% else %}{{ game.general_rules.html }}{% endif %}
            {% endautoescape %}
          </div>
    </div>
  </div>
</header>  
{% for task_group in task_groups %}
  <div id="task-group-{{ task_group.number }}" class="text-center task-group {{ task_group.number|get_parity }}-task-group">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 section-title">
        <h2>{{ task_group.number }}. {{ task_group.name }}</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 task-rules">
          {% autoescape off %}
          {{ task_group.rules.html }}
          {% endautoescape %}
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="list-rectangle tasks-list">
      {% for task in task_group_to_tasks|get_item:task_group.number %}
        {% with attempts_info=task_to_attempts_info|get_item:task.id %}
        <li class="li-task li-{{ attempts_info.best_attempt.status|get_lower_status }} {{ task_group.get_li_class }}">
          <div class="task">
            <h4>{{ task.number }}.</h4>
            {% if task.image %}<img class="task-image" src="/media/{{ task.image }}" width="{{ task.get_image_width }}"><br>{% endif %}
            {{ task.text }}<br>
            {% if attempts_info.best_attempt.status != 'Ok' %}
              {% if not attempts_info or attempts_info.mode == 'general' or attempts_info.get_n_attempts < task.get_max_attempts %}
                <form action = "/send_attempt/{{ task.id }}/" method = "post">
                  {% csrf_token %}
                  Попытка {{ attempts_info.get_n_attempts|get_new_attempt_number }}{% if mode == 'tournament' %}/{{ task.get_max_attempts }}{% endif %}:
                  <div class="fieldWrapper">
                    {{ task_group.get_attempt_form.text }}
                  </div>
                  <input type="submit" value="Отправить на проверку" class="btn btn-custom-lg btn-lg btn-custom page-scroll">
                </form>
              {% else %}
                <b>Попытки закончились</b>
              {% endif %}
            {% endif %}

            {% if attempts_info %}
              <div class="attempts">
                <ul class="list-rectangle">
                {% for attempt in attempts_info.attempts|order_by:"time" %}
                  <li class="li-attempt li-{{ attempt.status|get_lower_status }}">
                    {{ attempt.time|date:'H:i' }}:
                    {% if attempt.status == 'Ok' %}
                    <b>{{ attempt.text }}</b>
                    {% else %}
                    {{ attempt.text }}
                    {% endif %}
                    (баллы: {{ attempt.points|minimize_digits }}, статус: {{ attempt.status|get_ru_status }})
                  </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </li>
        {% endwith %}
      {% endfor %}
      <ul>
    </div>
  </div>
{% endfor %}
{% include "header.html" %}
<script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script> 
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script> 
<script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script> 
<script type="text/javascript" src="{% static "js/nivo-lightbox.js" %}"></script> 
<script type="text/javascript" src="{% static "js/jqBootstrapValidation.js" %}"></script> 
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
</body>
</html>
