{% load socialaccount %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>inter oves locum praesta</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-icon-57x57.png" %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicon/apple-icon-60x60.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicon/apple-icon-76x76.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-icon-114x114.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicon/apple-icon-120x120.png" %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicon/apple-icon-144x144.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-icon-152x152.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-icon-180x180.png" %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static "img/favicon/android-icon-192x192.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon/favicon-96x96.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}">

<!-- Slick -->
<link rel="stylesheet" type="text/css" href="{% static "css/slick/slick.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/slick/slick-theme.css" %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/nivo-lightbox/nivo-lightbox.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/nivo-lightbox/default.css" %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">inter oves locum praesta</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#games" class="page-scroll">Последние игры</a></li>
	      {% if user.is_authenticated %}
        <li><a href="#myteam" class="page-scroll">Моя команда</a></li>
        {% else %}
        <li><a href="#myteam" class="page-scroll">Участвовать</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1>inter oves<br>locum praesta<span></span></h1>
            <p>Играем в командные интеллектуальные игры, в которых можно пользоваться интернетом.</p>
            <a href="https://vk.com/interoveslocumpraesta" class="btn btn-custom btn-custom-lg btn-lg page-scroll">Группа VK</a>
            <a href="https://vk.com/interoveslocumpraesta?w=app6471849_-80749489" class="btn btn-custom btn-custom-lg btn-lg page-scroll">Задонатить</a></div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Games Section -->
<div id="games" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>Игры</h2>
    </div>
  </div>
  <div class="container">
      <div class="games-slick" data-slick='{"slidesToShow": 4, "slidesToScroll": 2, "arrows": true}'}>
        {% for game in games %}
        <div>
          <p>{{ game.start_time|date:'d E Y' }}<br>{{ game.start_time|date:'H:i' }} - {{ game.end_time|date:'H:i' }}</p>
          <img src="/media/{{ game.image }}" class="game_icon">
          <h3>{{ game.name }}</h3>
          {% if game.theme %} <p>Тема: {{ game.theme }}</p> {% endif %}
          <p>Автор: {{ game.author }}</p>
          {% if game.game_url %} <p><a href="{{ game.game_url}}">Условия</a></p> {% endif %}
          {% if game.answers_url %} <p><a href="{{ game.answers_url}}">Ответы</a></p> {% endif %}
          {% if game.standings_url %} <p><a href="{{ game.standings_url}}">Результаты</a></p> {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="myteam">
  <div class="container">
    <div class="row">
      {% if user.is_authenticated %}
        <div class="col-md-10">
          <div class="section-title">
            {% if user.profile.team_on %}
              <h2>Моя команда: <b>{{ user.profile.team_on }}</b></h2>
              <p>Состав вашей команды:</p>
              <ul class="list-rectangle team-on-list">
                {% for team_member in user.profile.team_on.users_on.all %}
                <li>{{ team_member }}</li>
                {% endfor %}
              </ul>
              {% if user.profile.team_on.users_requested.all %}
                <p>Заявки на принятие подали:</p>
                <ul class="list-rectangle team-requested-list">
                  {% for user_requested in user.profile.team_on.users_requested.all %}
                    <li>{{ user_requested }}
                    {% if user != user_requested %}
                      <a href="/confirm_user_joining_team/{{ user_requested.user.id }}" class="btn btn-custom btn-custom-sm btn-sm page-scroll">+</a>
                      <a href="/reject_user_joining_team/{{ user_requested.user.id }}" class="btn btn-custom btn-custom-sm btn-sm page-scroll">-</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            <a href="/quit_from_team" class="btn btn-custom btn-custom-lg btn-lg page-scroll">Выйти из команды</a>
            {% elif user.profile.team_requested  %}
              <h2>Вы подали заявку в команду: <b>{{ user.profile.team_requested }}</b></h2>
              {% if user.profile.team_requested.users_on.all %}
                <p>Состав этой команды:</p>
                <ul class="list-rectangle team-on-list">
                  {% for team_member in user.profile.team_requested.users_on.all %}
                    <li>{{ team_member }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              <p>Заявки на принятие подали:</p>
              <ul class="list-rectangle team-requested-list">
                {% for user_requested in user.profile.team_requested.users_requested.all %}
                  <li>{{ user_requested }}</li>
                {% endfor %}
              </ul>
              <a href="/quit_from_team" class="btn btn-custom btn-custom-lg btn-lg page-scroll">Отменить заявку</a>
              {% else %}
              <h2>У вас нет команды</h2>
              <form action = "{% url 'create_team' %}" method = "post">
                {% csrf_token %}
                {% for field in create_team_form.visible_fields %}
                <div class="fieldWrapper">
                  {{ field }}
                </div>
                {% endfor %}
                <input type="submit" value="Создать новую команду" class="btn btn-custom btn-custom-lg btn-lg page-scroll">
              </form>
              <form action = "{% url 'join_team' %}" method = "post">
                {% csrf_token %}
                {% for field in join_team_form.visible_fields %}
                <div class="fieldWrapper">
                  {{ field }}
                </div>
                {% endfor %}
                <input type="submit" value="Подать заявку в команду" class="btn btn-custom btn-custom-lg btn-lg page-scroll">
              </form>
              {% endif %}
          </div>
        </div>
        <div class="col">
          <img src="{{ user.profile.avatar_url }}" class="avatar-img">
          <p>{{ user.profile }}</p>
          <a href="/logout" class="btn btn-custom btn-custom-lg btn-lg page-scroll">Выйти</a>
        </div>
      {% else %}
      <div class="col-md-10">
        <div class="section-title">
          <h2>Участвовать</h2>
          <p>Чтобы поучаствовать в игре, авторизуйтесь через VK.</p>
        </div>
      </div>
      <div class="col-md">
        <a href="{% provider_login_url 'vk' %}" class="btn btn-custom btn-custom-lg btn-lg page-scroll">Войти через VK</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2020 inter oves locum praesta. Design by Andrew Garkavyy</p>
  </div>
</div>
<script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script> 
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script> 
<script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script> 
<script type="text/javascript" src="{% static "js/nivo-lightbox.js" %}"></script> 
<script type="text/javascript" src="{% static "js/jqBootstrapValidation.js" %}"></script> 
<script type="text/javascript" src="{% static "js/slick.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.games-slick').slick();
  });
</script>

</body>
</html>
