{% load staticfiles %}
<script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script> 
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script> 
<script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script> 
<script type="text/javascript" src="{% static "js/nivo-lightbox.js" %}"></script> 
<script type="text/javascript" src="{% static "js/jqBootstrapValidation.js" %}"></script> 
<script type="text/javascript" src="{% static "js/main.js" %}?1"></script>
<script type="text/javascript" src="{% static "js/simplebar.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/like-dislike.js" %}"></script>
