<div class="center960 page_content">
        <h1 class="page_name">Пользовательское соглашение</h1>
        <div class="f100">
                <h1 style="text-align:center;margin-bottom:10px;">
                ПРАВИЛА</h1>
                <p style="text-align:center;margin:0 150px;">
                покупки и применения билетов</p>
                <h3>
                1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
                <p>
                1.1. Настоящие Правила определяют порядок и условия оказания самозанятым Андреем Александрович (далее &ndash; Исполнитель) Покупателю (физическому лицу, использующему услуги Исполнителя в соответствии с настоящими Правилами) услуг по формированию и предоставлению оплаченного электронного билета на интеллектуальную игру "Десяточка".</p>
                <p>
                1.2. Электронный билет представляет собой цифровую запись в базе данных, подтверждающую оплату билета на интеллектуальную игру "Десяточка". Электронный билет удостоверяет право Покупателя на участие его команды в любой из интеллектуальных игр "Десяточка" на сайте <a href="interoves.ml">interoves.ml</a>.</p>
                <p>
                1.3. Исполнитель оставляет за собой право изменять Правила без предварительного уведомления Покупателя.</p>
                <h3>
                2. ОФОРМЛЕНИЕ ЗАКАЗА И ПРИОБРЕТЕНИЕ БИЛЕТОВ</h3>
                <p>
                2.1. Оформление заказа и приобретение электронного билета можно осуществить следующим способом:<br/>
                1) Авторизоваться на главной странице сайта.<br/>
                2) Создать команду либо присоединиться к уже существующей команде на главной странице сайта.<br />
                3) Заполнить форму в разделе &laquo;Покупка билетов&raquo; для выбора числа покупаемых билетов.<br />
                4) Ознакомиться с Правилами покупки билетов.<br />
                5) Покупатель на защищенной платежной странице вводит свои данные (электронный адрес, реквизиты банковской карты) и подтверждает заказ. Обмен данными осуществляется через защищенное соединение.<br />
                6) После оплаты банковской картой или другим представленным электронным платежом, Покупатель получает подтверждение об успешной транзакции. На сайте автоматически увеличивается число билетов у команды на соответствующее число купленных билетов.<br />
                <p>
                2.2. В связи с тем, что покупка электронного билета является полностью самостоятельным процессом и самостоятельным выбором Покупателя, Исполнитель не несет ответственность за ошибочный или неправильный выбор Покупателем числа билетов. Число покупаемых билетов должно быть проверенр Покупателем до момента оплаты заказа.<br />
                Исполнитель не несет ответственность за указание неправильного адреса электронной почты, реквизитов банковской карты и номера телефона Покупателя. Указанные данные должны быть проверены Покупателем до момента оплаты заказа.</p>
                <p>
                2.3. После оплаты заказа Покупатель обязан проверить получение электронных билетов на сайте его командой. В случае неполучения электронных билетов Покупатель заблаговременно обращается к Исполнителю по телефону 8-916-599-47-69 или на электронный адрес andrewgarkavyy@gmail.com для выяснения и устранения такого несоответствия.</p>
                <p>
                2.4. Электронный билет действителен при регистрации команды на сайте Исполнителя на любую интеллектуальную игру "Десяточка". Возврат электронного билета на отмененные, перенесенные или замененные мероприятия осуществляется в соответствии с разделом 3 настоящих Правил. Дополнительную информацию по применению электронного билета и работе Исполнителя можно узнать по телефону: 8-916-599-47-69 или отправив письмо на электронный адрес andrewgarkavyy@gmail.com.</p>
                <h3>
                3. УСЛОВИЯ ВОЗВРАТА ЭЛЕКТРОННОГО БИЛЕТА</h3>
                <p>
                3.1. Возврат приобретенных электронных билетов может быть осуществлен по желанию Покупателя<br />
                Если Покупатель обратился за возвратом, возвращается 100% от номинальной стоимости билетов за вычетом комиссии платежных систем, что является расходами Исполнителя на обслуживание электронных операций.</p>
                <p>
                3.2. Для оформления возврата электронного билета и получения денежных средств, Покупателю необходимо написать на почту andrewgarkavyy@gmail.com о соответствующем желании в свободной форме.</p>
                <p>
                3.3. Возврат стоимости электронного билета производится на платежную карту, с которой была осуществлена покупка электронного билета, в течение 3 (трех) рабочих дней с момента получения Исполнителем соответствующего заявления от Покупателя. Дальнейшие сроки зачисления зависят от банка-эмитента, как правило, этот срок составляет от 3 (трех) рабочих дней до 5 (пяти) рабочих дней.</p>
        </div>
</div>